.contact_container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact_option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact_option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
.conta_icons {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact_option h4 {
  font-size: 1rem;
}
.contact_option h5 {
  font-size: 0.9rem;
}
.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
}

/* form start */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
}
/* :::: Media Queries (medium devices) :::: */
@media screen and (max-width: 1024px) {
  .container .contact_container {
    grid-template-columns: 1fr;
    gap: 2;
  }
}
/* :::: Media Queries (small devices) :::: */

@media screen and (max-width: 600px) {
  .contact_option h5 {
    text-align: center;
    font-size: 0.8rem;
  }
  #contact {
    margin-top: -12rem;
    margin-bottom: 30rem;
  }
  .contact_container {
    display: block;
  }
  .container .contact_container {
    width: var(--container-width-ms);
  }
  .contact_container form {
    margin-top: 10px;
  }
}
